.horas {
  display: flex;
  width: 500px;
  overflow-x: auto;
margin: 0 auto;
}

.horaBotao {
  border: none;
  margin: 5px;
  padding: 5px 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  font-size: 1rem;
}
