body,
html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
}

form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%; /* Garantir que o formulário ocupe 90% da largura */
  max-width: 400px; /* Limitar o tamanho máximo do formulário */
  display: flex;
  flex-direction: column;
}

.pai {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  padding: 20px;
}

.imagemLogo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
